  <div class="content {{storedTheme}}" role="main">
    <header class="lg:px-16 px-6 flex flex-wrap items-center lg:py-0 py-2 mb-5">

      <div class="flex-1 flex justify-between items-center">
        <a href="#">
          <svg width="32" height="36" viewBox="0 0 32 36" xmlns="http://www.w3.org/2000/svg"><path d="M15.922 35.798c-.946 0-1.852-.228-2.549-.638l-10.825-6.379c-1.428-.843-2.549-2.82-2.549-4.501v-12.762c0-1.681 1.12-3.663 2.549-4.501l10.825-6.379c.696-.41 1.602-.638 2.549-.638.946 0 1.852.228 2.549.638l10.825 6.379c1.428.843 2.549 2.82 2.549 4.501v12.762c0 1.681-1.12 3.663-2.549 4.501l-10.825 6.379c-.696.41-1.602.638-2.549.638zm0-33.474c-.545 0-1.058.118-1.406.323l-10.825 6.383c-.737.433-1.406 1.617-1.406 2.488v12.762c0 .866.67 2.05 1.406 2.488l10.825 6.379c.348.205.862.323 1.406.323.545 0 1.058-.118 1.406-.323l10.825-6.383c.737-.433 1.406-1.617 1.406-2.488v-12.757c0-.866-.67-2.05-1.406-2.488l-10.825-6.379c-.348-.21-.862-.328-1.406-.328zM26.024 13.104l-7.205 13.258-3.053-5.777-3.071 5.777-7.187-13.258h4.343l2.803 5.189 3.107-5.832 3.089 5.832 2.821-5.189h4.352z"></path></svg>
      </a>
    </div>
  
     <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
  
    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
      <nav>
        <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="#">Features</a></li>
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="#">Blog</a></li>
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400" href="#">Contact</a></li>
          <li><a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400 lg:mb-0 mb-2" href="#">Support</a></li>
        </ul>
      </nav>
      <!-- <a href="#" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor">
        <img class="rounded-full w-10 h-10 border-2 border-transparent hover:border-indigo-400" src="https://pbs.twimg.com/profile_images/1128143121475342337/e8tkhRaz_normal.jpg" alt="Andy Leverenz">
      </a> -->
  
    </div>
  
    </header>
  
      <div class="grid grid-cols-12 text-justify">
        <div class="col-span-12 flex-col lg:col-span-2">
          <img src="../assets/personal.png" class="lg:h-15 lg:w-15 avatar text-center rounded-full mb-8" alt="">
          <section class="date-of-birth mb-8">
            <p class="font-bold">Date Of Birth </p>
            <p class="text-sm sm:text-sm md:text-base lg:text-base xl:text-base">Jakarta , 21st may 1997</p>
          </section>
          <section class="Language mb-8">
            <p class="font-bold">Language </p>
            <ul class="list-inside text-sm sm:text-sm md:text-base lg:text-base xl:text-base">
              <li>English</li>
              <li>Bahasa</li>
            </ul>
          </section>
          <section class="contact mb-8 text-left">
            <p class="font-bold">Contact </p>
            <p class="text-xs sm:text-xs md:text-base lg:text-base xl:text-base">pyudo28@gmail.com</p>
          </section>
        </div>
        <div class="col-span-12 lg:ml-10 lg:col-span-10">
          <div class="grid grid-cols-12">
            <div class="col-span-12">
              <p class="text-xl sm:text-xl md:text-2xl lg:text-4xl xl:text-4xl font-bold">Prasetyo Yudho Purnomo</p>
            </div>

            <div class="col-span-12">
              <div class="theme-switcher-wrap">
                <label 
                  [ngClass] ="(storedTheme =='theme-dark')?'theme-switcher active' : 'theme-switcher'"
                  (click)="setTheme()"
                >
        
                  <div class="switch-path">
                    <div class="switch-handle"></div>
                  </div>
        
                </label>
              </div>
            </div>
          </div>
          <p class="text-sm sm:text-sm md:text-xl lg:text-xl xl:text-xl pt-5">Currently worked in Sinergi Rezeki Ananta/ Essenzo and have one year experience to build website based on application with angular to processing data from API, create route with other component, checkout and payment workflow</p>
          <div class="grid grid-cols-12">
            <div class="col-span-12 flex-col mt-5 lg:col-span-6">
              <p class="text-base lg:text-2xl font-bold">Education</p>
              <section class="date-of-birth mb-8">
                <p class="font-bold">University Of Pancasila ( 2019 - ... ) </p>
                <p class="text-base">Electrical Engineering Department, Jakarta</p>
              </section>
              <section class="date-of-birth mb-8">
                <p class="font-bold">State Polytechnic Of Jakarta ( 2015 - 2018 ) </p>
                <p class="text-base">Electrical Engineering Department, Depok</p>
              </section>
              <section class="date-of-birth mb-8">
                <p class="font-bold">Senior High School ( 2012-2015 ) </p>
                <p class="text-base">Suluh Senior High School, South Jakarta</p>
              </section>
              <section class="date-of-birth mb-8">
                <p class="font-bold">Junior High School ( 2009-2012 ) </p>
                <p class="text-base">Budi Mulia Desa Putera Junior High School, South Jakarta</p>
              </section>
              <section class="date-of-birth mb-8">
                <p class="font-bold">Elementary School ( 2003-2009 ) </p>
                <p class="text-base">Budi Mulia Desa Putera Elementary School, South Jakarta</p>
              </section>
            </div>
            <div class="col-span-12 flex-col mt-5 lg:col-span-6">
              <p class="text-base lg:text-2xl font-bold">Skills & Endorsement</p>
              <div class="w-full">
  
                <div class="shadow w-full bg-grey-light mb-8">
                  <p class="text-base font-bold">HTML 5</p>
                  <div class="bg-blue-600 text-xs leading-none py-1 text-center text-white" style="width: 95%">95%</div>
                </div>
                
                
                <div class="shadow w-full bg-grey-light mb-8">
                  <p class="text-base font-bold">CSS 3 (Bootstrap, Tailwind)</p>
                  <div class="bg-orange-600 text-xs leading-none py-1 text-center text-white" style="width: 80%">80%</div>
                </div>
                
                  
                <div class="shadow w-full bg-grey-light mb-8">
                  <p class="text-base font-bold">Angular</p>
                  <div class="bg-red-600 text-xs leading-none py-1 text-center text-white" style="width: 80%">80%</div>
                </div>
                          
                <div class="shadow w-full bg-grey-light mb-8">
                  <p class="text-base font-bold">Vue</p>
                  <div class="bg-green-600 text-xs leading-none py-1 text-center text-white" style="width: 50%">50%</div>
                </div>
  
                <div class="shadow w-full bg-grey-light mb-8">
                  <p class="text-base font-bold">PHP</p>
                  <div class="bg-teal-600 text-xs leading-none py-1 text-center text-white" style="width: 50%">50%</div>
                </div>
              <div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
<!--     
    <h5 class="text-center title">(Light / Dark Mode)</h5>
      <div class="content-box">
  

  
        <h3>Custom Theme Toggler</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore laudantium vel assumenda adipisci nostrum magni nihil labore iure possimus illum ratione impedit commodi sint, eligendi nam perspiciatis, in similique soluta.</p>
        <p>--Yudz.com</p>
  
      </div> -->
  </div>
          <!-- <svg class="absoulte" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF0066" d="M35.8,-43.9C45.3,-34.7,51.1,-22.4,56.5,-7.6C61.9,7.1,66.7,24.2,60.4,34.7C54.2,45.2,36.7,49,20.7,53.3C4.6,57.7,-10,62.6,-23.6,59.8C-37.1,57,-49.8,46.5,-53.6,33.8C-57.5,21.2,-52.6,6.4,-51.2,-10.4C-49.9,-27.2,-52.2,-46,-44.2,-55.5C-36.3,-65,-18.1,-65.1,-2.5,-62.1C13.1,-59.1,26.3,-53,35.8,-43.9Z" transform="translate(100 100)" />
          </svg> -->